{% extends 'include/base.html' %}
{% block body %}
<div class="container">
    <div class="card shadow mb-2">
        <div class="card-body d-flex justify-content-between">
            <div class="col-12 col-md-7">
                <h4 class="mb-4">400 ошыбочка</h4>
                <h7 class="mb-4">я вообще редко видел эту ошибку, мб даже никогда
                    Но это ошибка плохого запроса, аля наш сервер не так его понял (ну не нейросеть, сорри)
                    исправление :D - <a href="{% url 'home' %}" class="text-decoration-none">непредсказуемое</a>
                </h7>
                <h3>если вдруг не понятно, то код ошибки 403 Forbidden, несанкционироанный доступ к админке</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}