{% extends 'include/list_tasks.html' %}
{% block task %}
<div class="card mb-2">
    <div class="card-header d-flex justify-content-between">
        <div>
            <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="/tasks/{{task.pk}}">
            Задача {{task.task.id}}  
            </a>
            {% if task.task.usertaskenroll.first.status %}
                <span class="badge text-bg-secondary">
                    {{task.task.cnt_views}} <i class="bi bi-eye-fill"></i>
                </span>
            {% else %}
                <span class="badge text-bg-secondary">
                    {{task.task.cnt_views}} <i class="bi bi-eye-slash"></i>
                </span>
            {% endif %}
        </div>
        <div>
            <span class="badge bg-danger-subtle text-bg-secondary">
                {{task.task.cnt_bm}}
                {% if task.task.savedtasks.first %}
                    <a class=link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hove 
                        href="/bm/del/{{task.task.pk}}">
                        <i class="bi bi-bookmarks-fill"></i>
                    </a>
                {% else %}
                    <a class=link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hove
                        href="/bm/add/{{task.task.pk}}">
                        <i class="bi bi-bookmark"></i>
                    </a>
                {% endif %}
            </span>            
            <span class="badge bg-danger-subtle text-bg-secondary">
                {{task.task.cnt_likes}}
                {% if task.task.favouritetask.first %}
                    <a class=link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hove 
                        href="/likes/del/{{task.task.pk}}">
                        <i class="bi bi-heart-fill"></i>
                    </a>
                {% else %}
                    <a class=link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hove
                        href="/likes/add/{{task.task.pk}}">
                        <i class="bi bi-heart"></i>
                    </a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="card-body">
        {{task.task.description}}
    </div>
    <div class="card-footer p-2">
        <span class="badge bg-warning-subtle border border-danger-subtle ">
            <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
                href="/categories/{{task.task.pk}}">
                {{task.task.category}}
            </a>
        </span>
    </div>
</div>
{% endblock %}